:host {
  width: fit-content;

  cursor: pointer;

  .reference {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;

    padding: 0.3rem;

    user-select: none;
    text-decoration: none;

    & > .description {
      font-weight: bold;
    }

    & > .bar {
      height: 2px;
    }

    &:hover {
      & > .bar {
        transition: all 0.5s;
        width: 80px;
      }
    }
  }

  .active {
    & > .description {
      transition: all 0.5s;
      color: #ffffff;
    }

    & > .bar {
      transition: all 0.5s;
      width: 80px;

      background-color: #ffffff;
    }
  }

  .not-active {
    & > .description {
      transition: all 0.5s;
      color: #838384;
    }

    & > .bar {
      transition: all 0.5s;
      width: 60px;

      background-color: #838384;
    }
  }
}
