$margin: 1rem;

:host {
  display: flex;

  & > * {
    margin: $margin;
  }
}

@media screen and (min-width: 990px) {
  :host {
    flex-direction: row;

    & > * {
      width: calc(50% - 2 * $margin);
    }
  }
}

@media screen and (max-width: 989px) {
  :host {
    flex-direction: column;

    & > * {
      width: calc(100% - 2 * $margin);
    }
  }
}
